<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="main">
    </div>
    <script src="~/Scripts/bundle/home.js"></script>
</body>
</html>
